<template>
  <div class="container">
    <h1>Resultaat Poll - Oostende Zingt!</h1>
    <div class="chart chart-bar chart-horizontal">
      <div v-for="item in orderedSonglist" :value="item" :key="item.id" class="row songitem">
        <div class="ItemArtist">{{ item.artist }} - {{ item.title }}</div>
        <div class="metric" v-bind:style="{width: + item.score + '%'}"><span class="metric-value">{{ item.votes }}</span></div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';

export default {
  name: 'resultaat',
  data() {
    return {
      songlist: [],
      timer: '',
    };
  },
  beforeMount(){
    axios({
      method: 'post',
      url: `${this.$access.url}api/init_client`,
      data: {
        token: this.$access.key
      }
    }).then((resp) => {
      // console.log(resp);
      this.$access.token = resp.data;
      this.getDataFromServer();
    }).catch((resp) => {
      alert(resp + '\n\napi server not accessible!')
    });

    this.timer = setInterval(this.getDataFromServer, 30000);
  },
  mounted(){

  },
  computed: {
    orderedSonglist: function() {
      return _.orderBy(this.songlist, 'score', 'desc')
    }
  },
  methods:
  {
    getDataFromServer() {
      console.log("retrieving");
      const app = this;
      axios({
        method: 'get',
        url: `${app.$access.url}api/oostendezingt/resultaat`,
        headers: {'Authorization': "Bearer " + app.$access.token},
      }).then((resp) => {
        app.songlist = resp.data;
      }).catch((resp) => {
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  /* Start One.com rubbish */
  .container {
    width: inherit;
    margin-left: 15px;
    padding-left: 15px;
  }

  @media only screen and (max-width : 650px) {
    .container {
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media only screen and (min-width: 651px) and (max-width : 992px) {
    .container {
      width: 100vw;
      padding-right: 15px;
      padding-left: 30px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 993px) {
    .container {
      padding-right: 0;
    }

    .rowelem {
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .rowelem {
      padding-right: 0;
      padding-left: 0;
    }
  }
  /* End One.com rubbish */

  .ItemArtist {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 6px;
    height: 20px;
  }

  .songitem {
    text-align: left;
  }

  .chart .metric {
    display: inline-block;
    text-align: left;
    background-color: lightblue;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /* Standard syntax */
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 10px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.175);
  }
  .chart .metric .metric-value {
    font-weight: bold;
  }

  .chart-horizontal {
    width: 100%;
  }
  .chart-horizontal .metric {
    margin-bottom: 3px;
    min-width: 30px;
    padding: 3px 5px;
  }
  .chart-horizontal .metric .metric-value {
    float: right;
    font-weight: bold;
  }

</style>
