<template>
    <div class="container">
        <div class="row row1">
            <h3 class="header-poll">10 jaar "Oostende Zingt"!</h3>
        </div>
        <div class="row row1">
            <div class="col-md-6">
                <p class="description-content">10 jaar geleden kwamen enkele muzikanten met een liefde voor Oostende samen,
                    met een voorzichtig vervangprogramma voor Lucy Loes toen ze gestopt was met optreden. Intussen is
                    'Oostende Zingt' een
                    vaste waarde geworden op de Paulusfeesten, met in de loop der jaren een opgebouwd repertoire van
                    meer dan 140 nummers en waar veel Oostendenaars elk jaar opnieuw terug naar uitkijken!</p>
                <p class="description-content">Omdat we deze niet allemaal kunnen zingen op 1 avond, hebben we besloten
                    voor deze komende <b>10-de jubileum-editie de keuze aan het publiek
                        over te laten: jullie dus!</b> Hiervoor hebben we een "poll" samengesteld, met 145 mogelijke
                    nummers waar je <b>3 nummers</b> uit kan kiezen.
                <p>Op basis van de resultaten zullen we rekening houden met het samenstellen van de finale set-list,
                    zodat we allemaal samen uit volle borst kunnen meezingen en genieten van dit evenement.
                    Dit 10-jarig jubileum zal zo opnieuw een geweldig Oostends zangfeest worden voor jong en oud!</p>

                <section>
                    <carousel class="oz-carrousel" :indicators="indicators" :controls="controls" :interval="interval"
                              ref="carousel">
                        <slide v-for="(slide, index) in slides" :key="index">
                            <!--<img :src="slide.img" />-->
                            <div class="oz-gallery" :style="{backgroundImage: 'url(' + slide.img + ')'}"></div>
                            <div class="carousel-caption">
                                <!--<h3>This is {{slide.img}}</h3>-->
                            </div>
                        </slide>
                    </carousel>
                </section>
            </div>
            <div class="col-md-6">
                <picture>
                    <img class="og-static-img" src="https://paulusfeesten.be/components/oostendezingt/img/oz_static.jpg">
                </picture>
                <!--<div class="oz-gallery large-disp"-->
                     <!--style="background-image: url('https://paulusfeesten.be/components/oostendezingt/img/oz_static.jpg')">-->

                <!--</div>-->

                <!--<picture><img src="http://paulusfeesten.be/components/oostendezingt/img/oz_static.jpg">-->
                <!--</picture>-->
            </div>
            <div class="col-md-6">
                <h3 class="poll-keuze">Maak 3 keuzes samen met je e-mail en druk daarna op de "verzenden" knop:</h3>
                    <form class="form-horizontal" id="formData" @submit="checkForm">
                <div v-if="errors.length" style="color: red;">
                    <b>Corrigeer de volgende fout(en):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                <input type="email" class="form-control input-lg" name="email" v-model="email"
                       placeholder="Vul een geldig e-mail adres in..." required>
                <div class="checkboxes">
                        <label class="input-lg mailable pull-left"><input type="checkbox" v-model="mailing" class="checkbox pull-left"
                                                                  v-bind:checked="mailing" name="email"
                                                                  aria-label="..."> <span>&nbsp;Hou me op de hoogte omtrent de
                    Paulusfeesten</span></label>
                </div>
                <select class="form-control input-lg poll-field" v-model="keuze[0]" v-on:change="setResult(0)"
                        required>
                    <option disabled :value="null" selected>Kies eerste groep...</option>
                    <option v-for="item in filteredSonglist1" :value="item" :key="item.id">{{ item.artist }} - {{
                        item.title }}
                    </option>
                </select>
                <select class="form-control input-lg poll-field" v-model="keuze[1]"
                        v-on:change="setResult(1)" required>
                    <option disabled :value="null" selected>Kies tweede groep...</option>
                    <option v-for="item in filteredSonglist2" :value="item" :key="item.id">{{ item.artist }} - {{
                        item.title }}
                    </option>
                </select>
                <select class="form-control input-lg poll-field" v-model="keuze[2]"
                        v-on:change="setResult(2)" required>
                    <option disabled :value="null" selected>Kies derde groep...</option>
                    <option v-for="item in filteredSonglist3" :value="item" :key="item.id">{{ item.artist }} - {{
                        item.title }}
                    </option>
                </select>
                <button :disabled="isDisabled" type="submit" value="Submit" class="btn btn-lg btn-primary pull-left ">
                    Verzenden
                </button>
                <!--<button :disabled="isDisabled" v-on:click="submitToServer" type="submit" class="btn btn-lg btn-primary pull-left ">Verzenden</button>-->
                <!--INFO: https://stackoverflow.com/questions/45185891/vue-js-navigate-to-url-with-question-mark-->
                </form>
            </div>
        </div>
    </div>
</template>

<script>
  import axios from 'axios';
  import _ from 'lodash';

  export default {
    name: 'OostendeZingt',
    data() {
      return {
        disableSubmit: true,
        interval: 5000,
        indicators: false,
        controls: false,
        slides: [ // This data is overridden by images.json on the server...
          {
            title: 'Slide 1',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/0.jpg'
          },
          {
            title: 'Slide 2',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/1.jpg'
          },
          {
            title: 'Slide 3',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/2.jpg'
          },
          {
            title: 'Slide 4',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/3.jpg'
          },
          {
            title: 'Slide 5',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/4.jpg'
          },
          {
            title: 'Slide 6',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/5.jpg'
          },
          {
            title: 'Slide 7',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/6.jpg'
          },
          {
            title: 'Slide 8',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/7.jpg'
          },
          {
            title: 'Slide 9',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/8.jpg'
          },
          {
            title: 'Slide 9',
            img: 'https://paulusfeesten.be/components/oostendezingt/img/9.jpg'
          },
        ],
        songlist: null,
        keuze: [null, null, null],
        result: [-1, -1, -1],
        email: null,
        mailing: false,
        testbtn: false,
        errors: []
      };
    },
    beforeMount() {
      axios({
        method: 'get',
        url: `https://paulusfeesten.be/components/oostendezingt/img/images.json`,
      }).then((resp) => {
        // console.log(resp.data);
        this.slides = resp.data;
      }).catch((resp) => {
        console.warn("Beeldmateriaal onbereikbaar op server, fallback...");
      });
      //console.log(this.$access.key);
      this.getDataFromServer();
      axios({
        method: 'post',
        url: `${this.$access.url}api/init_client`,
        data: {
          token: this.$access.key
        }
      }).then((resp) => {
        // console.log(resp);
        this.$access.token = resp.data;
      }).catch((resp) => {
        alert(resp + '\n\nSorry, de server is momenteel even niet bereikbaar.  Probeer het later nog eens...')
      });
    },
    mounted() {

    },
    computed: {
      filteredSonglist1() {
        return this.filterSongs(0);
      },
      filteredSonglist2() {
        return this.filterSongs(1);
      },
      filteredSonglist3() {
        return this.filterSongs(2);
      },
      isDisabled() {
        if (this.keuze.indexOf(null) >= 0 ) {
          // console.log(this.keuze);
          return true;
        } else {
          return false;
        }
      }
    },
    methods: {
      validEmail:function(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
      checkForm: function (e) {
        this.errors = [];
        e.preventDefault();
        console.log(this.errors);
        if(!this.email) {
          this.errors.push("Email adres is vereist.");
        } else if(!this.validEmail(this.email)) {
          this.errors.push("Geldig email adres is vereist.");
        }
        if(!this.errors.length) {
          console.log("Check form succesful - Submitting!");
          this.submitToServer();
        }
      },
      filterSongs(selectId) {
        let result = {};
        if (this.songlist) {
          const app = this;
          result = this.songlist.filter((item) => { // start filter
            let filtered = null;
            if (!app.keuze[selectId]) {
              if (app.result.indexOf(item.id) < 0) {
                filtered = item;
              }
            } else if (app.result.indexOf(item.id) < 0 || app.keuze[selectId].id === item.id) {
              filtered = item;
            }
            return filtered;
          }); // end filter
        }
        return result;
      },
      getDataFromServer() {
        axios({
          method: 'get',
          url: `${this.$access.url}api/oostendezingt`,
        }).then((resp) => {
          this.songlist = resp.data.data;
        }).catch((resp) => {
        });
      },
      setResult(id) {
        if (this.keuze[id]) {
          this.result[id] = this.keuze[id].id;
        } else {
          this.result[id] = -1;
        }
      },
      submitToServer: _.debounce(function () {
        // -- Niet meer nodig, controle gebeurt op e-mail adres vanuit de server...
        // let checksum = JSON.parse(localStorage.getItem("95lAutVwIk"));
        // if (checksum) { // if null, do not proceed
        //   let dateString = checksum.t;
        //   let now = new Date().getTime().toString();
        //
        //   if (dateString + 57600000 > parseInt(now)) {
        //     alert('Dank voor je deelname, je hebt reeds gestemd.\nMorgen kan je nog eens stemmen!');
        //     this.redirect();
        //     return null; // In case redirect doesn't work...
        //   }
        // }
        const app = this;
        axios({
          method: 'post',
          url: `${app.$access.url}api/oostendezingt`,
          data: {
            result: app.result,
            token: app.$access.token.substr(app.$access.token.length - 35), // Duplicate checksum
            email: app.email,
            mailing: app.mailing,
          },
          headers: {'Authorization': "Bearer " + app.$access.token},
        }).then((resp) => {
          // console.log(resp.data.data);
          if (resp.status === 202) {
            alert(resp.data.data.errors);
          } else {

            // let object = {v: "ZDXAp7upeB", t: new Date().getTime()};
            // localStorage.setItem("95lAutVwIk", JSON.stringify(object));

            alert("Dank voor je deelname.\nJe stem werd ontvangen.\n\nCheck nu je mailbox om je stem te bevestigen!");

          }
          this.redirect();
        }).catch((resp) => {
        });
      }, 500), // debouncing time
      redirect() {
        this.keuze = [null, null, null];
        this.result = [-1, -1, -1];
        // Redirecting
        location.href = 'https://www.paulusfeesten.be';
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    /* Start One.com rubbish */
    .container {
        width: inherit;
        margin-left: 15px;
        padding-left: 15px;
    }

    @media only screen and (max-width: 650px) {
        .container {
            margin-left: -5px;
            margin-right: -5px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media only screen and (min-width: 651px) and (max-width: 992px) {
        .container {
            width: 100vw;
            padding-right: 15px;
            padding-left: 30px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media only screen and (min-width: 993px) {
        .container {
            padding-right: 0;
        }

        .rowelem {
            padding-left: 15px;
        }
    }

    @media only screen and (max-width: 992px) {
        .rowelem {
            padding-right: 0;
            padding-left: 0;
        }

        .og-static-img {
            display: none;
        }
    }

    /* End One.com rubbish */

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    select:invalid {
        color: darkred;
        font-weight: bold;
    }

    .poll-field {
        margin-bottom: 10px;
    }

    p {
        text-align: justify;
        text-justify: inter-word;
    }

    .btn {
        margin-right: 10px;
    }

    .oz-gallery {
        background-size: contain;
        background-repeat: no-repeat;
        /*width: 100%;*/
        /*//height: 534px;*/
        /*border: 1px solid red;*/
        width: 0;
        padding: 67%;
        padding-bottom: 0;
        box-sizing: border-box;
        position: relative;
        height: 20%;
    }

    .mailable {
        text-align: left;
        font-size: 13px;
    }

    @media only screen and (min-width: 993px) {
        .header-poll {
            text-align: left;
            margin-top: 0;
            font-weight: bold;
        }

        .og-static-img {
            display: block;
        }

        .poll-keuze {
            text-align: left;
        }

        .mailable {
            text-align: left;
            font-size: 17px;
            vertical-align: baseline;
        }
    }

    input[type=checkbox], input[type=radio] {
        vertical-align: middle;
        position: relative;
        bottom: 1px;
        width: 20px;
        height: 20px;
    }
    input[type=radio] {
        bottom: 2px;
    }

    .og-static-img {
        max-width: 100%;
        /*max-height: 100%;*/
    }

</style>