<template>
  <div class="container">

    <form class="form-horizontal" id="formData">
      <select class="form-control input-lg poll-field" v-model="keuze"  v-on:change="setLyrics" required>
        <option disabled :value="null">Kies groep & song...</option>
        <option v-for="item in songlist" :value="item" :key="item.id" :selected="item.id === preselect">{{ item.artist }} - {{ item.title }}</option>
      </select>
    </form>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <!--<div class="panel-heading">{{ paneldata.header }}</div>-->
      <div class="panel-body">
        <div><span style="white-space: pre-wrap;font-size: 120%; font-weight: bold;" v-bind:style="{ fontSize: (100 * (1 + (zoomlevel * 0.20))) + '%' }">{{ paneldata.content }}</span></div>
        <!--<div class="panel-heading">{{ chosen.artist }} - {{ chosen.title }}</div>-->
        <!--<div class="panel-body">-->
          <!--<div><span style="white-space: pre;">{{ chosen.lyrics }}</span></div>        -->
        <!--<div><pre>{{ keuze.lyrics }}</pre></div>-->
      </div>
    </div>
    <div class="zoomcontrol">
      <button class="roundbtn btn" style="margin-bottom: 20px;" v-on:click="zoomin" :disabled="zoomlevel >= maxzoom"><span class="glyphicon glyphicon-zoom-in"></span></button>
      <button class="roundbtn btn" v-on:click="zoomout" :disabled="zoomlevel <= 0"><span class="glyphicon glyphicon-zoom-out"></span></button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'SongTeksten',
  //props: ['id'],
  props: {
    id: {
      type: String,
      required: false
    }
  },
  watch: {
    '$route': 'fetchData'
  },
  data() {
    return {
      songlist: null,
      keuze: null,
      chosen: -1,
      paneldata: {
        header: 'Kies een nummer uit de bovenstaande lijst',
        content: ''
      },
      preselect: this.id,
      zoomlevel: 0,
      maxzoom: 5,
    };
  },
  beforeMount() {
    axios({
      method: 'get',
      url: `${this.$access.url}api/oostendezingt/songtekst`,
    }).then((resp) => {
      this.songlist = resp.data.data;

      this.fetchData()

      // When using URL querystrings
      // if(this.$route.query.song){
      //   this.setDefault(this.$route.query.song);
      // }
    }).catch((resp) => {
      alert("De lijst kon niet worden opgehaald van de server.\nProbeer deze pagina later opnieuw te verversen...");
    });
  },
  mounted() {

  },
  methods: {
    zoomin() {
      this.zoomlevel >= this.maxzoom ? this.zoomlevel = this.maxzoom : ++this.zoomlevel;
      // console.warn("Zooming in");

    },
    zoomout() {
      this.zoomlevel <= 0 ? this.zoomlevel = 0 : --this.zoomlevel;
      // console.warn("Zooming out");
    },
    fetchData() {
      // When using URL route ids... (and not undefined or null)
      // console.log("fetching");
      if(this.id){
        this.setDefault(this.id);
      }
    },
    setDefault: function(id){
      // console.log("setDefault: " + id);
      id = parseInt(id);
      // console.log(this.songlist);

      // find id in array of objects
      function startsWith(id) {
        return function(element) {
          return element.id === parseInt(id) ? element : null;
        }
      }

      let data= this.songlist.filter(startsWith(id));

      if(data.length > 0){
        this.keuze = data[0];
        this.chosen = this.keuze;
        this.paneldata.header = this.chosen.artist + ' - ' + this.chosen.title;

        if(this.chosen.lyrics){
          this.paneldata.content = this.chosen.lyrics;
        } else {
          this.paneldata.content = 'Geen content beschikbaar';
        }//endif
      } else {
        this.keuze = null;
        this.paneldata.header = 'Kies een nummer uit de bovenstaande lijst';
        this.paneldata.content = '';
      }
    },
    setLyrics: function(){
      if (this.keuze) {
        // console.log(this.keuze);
        this.chosen = this.keuze;
        this.$router.push({ path: '/songteksten/' + String(this.keuze.id) });
        //this.$router.push({ query: { song: this.keuze.id }});
        this.paneldata.header = this.chosen.artist + ' - ' + this.chosen.title;

        if(this.chosen.lyrics){
          this.paneldata.content = this.chosen.lyrics;
        } else {
          this.paneldata.content = 'Geen content beschikbaar';
        }//endif
      } else {
        //console.log("Replacing route to default");
        this.$router.replace('/songteksten');
        // this.$router.push({ query: { }});
        this.chosen = -1;
        this.paneldata.header = 'Kies een nummer uit de bovenstaande lijst';
        this.paneldata.content = '';
      }//endif
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  /* Start One.com rubbish */
  .container {
    width: inherit;
    margin-left: 15px;
    padding-left: 15px;
  }

  @media only screen and (max-width : 650px) {
    .container {
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media only screen and (min-width: 651px) and (max-width : 992px) {
    .container {
      width: 100vw;
      padding-left: 15px;
      padding-right: 30px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 993px) {
    .container {
      padding-left: 15px;
      padding-right: 30px;
    }

    .rowelem {
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .rowelem {
      padding-right: 0;
      padding-left: 0;
    }
  }

  /* End One.com rubbish */

  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  select:invalid { color: lightgray; }

  .poll-field {
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

  .btn {
    margin-right: 10px;
  }

  .zoomcontrol {
    position: fixed;
    bottom: 2em;
    left: 1em;
    right: 1em;
    text-align: left;
    z-index: 1000;
  }

  .roundbtn {
    display: block;
    border-color: black;
    padding: 14px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  }

  .roundbtn span {
    font-size: 36px;
    margin-top: -3px;
    margin-left: -3px;
  }

  .btn[disabled] {
    opacity: .35;
  }

  /*.note pre {*/
    /*white-space: pre-wrap;*/
    /*word-wrap: break-word;*/
    /*font-family: inherit;*/
  /*}*/

</style>

<style>
  #social {
    display:none!important;
  }
</style>
