<template>
    <div class="container">
        <!--<h3 class="header-poll">10 jaar "Oostende Zingt"</h3>-->
        <div v-if="errors.length" class="alert alert-danger" role="alert">
            <p style="color: red;">
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
            </p>
        </div>

        <div v-if="!errors.length" class="alert alert-success" role="alert">
            <p>Bedankt voor je deelname, je stem is nu definitief bevestigd.</p>
            <p>Dit is de keuze de je ons hebt doorgegeven:</p>
            <ul>
                <li v-for="result in results">{{ result.artist }} - {{ result.title }}</li>
            </ul>
            <p>Tot binnenkort op de Paulusfeesten!</p>
        </div>
        <button class="btn btn-primary" v-on:click="redirect">Home</button>
    </div>
</template>

<script>
    import axios from 'axios';

  export default {
    name: "VoteConfirmed",
    data() {
      return {
        email: null, // not used
        token: null, // not used
        results: null,
        errors: []
      }
    },
    beforeMount() {
      console.log(this.$route.query.email);
      console.log(this.$route.query.token);

      const app = this;
      axios({
        method: 'post',
        url: `${app.$access.url}api/oostendezingt/confirm`,
        data: {
          email: this.$route.query.email,
          token: this.$route.query.token
        },
      }).then((resp) => {
        if(resp.data.status === 'success') {
          app.results = resp.data.data;
        } else {
          app.errors = resp.data.data.errors;
        }

        //this.redirect();
      }).catch((resp) => {


      });
    },
    methods: {
      redirect () {
        location.href = 'https://www.paulusfeesten.be';
      }
    },
  }
</script>

<style scoped>
    /* Start One.com rubbish */
    .container {
        width: inherit;
        margin-left: 15px;
        padding-left: 15px;
    }

    @media only screen and (max-width: 650px) {
        .container {
            margin-left: -5px;
            margin-right: -5px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @media only screen and (min-width: 651px) and (max-width: 992px) {
        .container {
            width: 100vw;
            padding-right: 15px;
            padding-left: 30px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media only screen and (min-width: 993px) {
        .rowelem {
            padding-left: 15px;
        }
    }

    @media only screen and (max-width: 992px) {
        .rowelem {
            padding-right: 0;
            padding-left: 0;
        }

        .large-disp {
            display: none;
        }
    }
    /* End One.com rubbish */

    ul {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        list-style-type: none;
    }

    li {

    }

    @media only screen and (min-width: 993px) {
        .header-poll {
            text-align: left;
            margin-top: 0;
        }
    }

</style>